.formContainer{
    width: 500px;
    margin: 90px auto;
    padding: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
};
input{
    padding: 8px;
};
.formContainer div{
    margin: 15px;

};